

.newRow {
    display:flex;
    flex-grow: 1;
}

#error-message-nan {
    color: red;
}

body {
    background-color: lightblue;
}

#test {
    display: flex;
    justify-content: center;

}

h1 {
    display:flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}